.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 355px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dialog__header-title-container {
  display: grid;
  width: revert;
}

.dialog__header {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog__header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  margin-right: 10px;
}

.dialog__header-button {
  width: 210px;
  height: 75px;
}

.dialog__content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  align-items: flex-start;
}

.dialog__content-block {
  overflow: auto;

  padding-right: 80px;
}

.dialog__content-block_left {
  border-right: 1px solid #ccc;
  height: 300px;
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-height: 300px;
  padding-right: 119px;
}

.center {
  padding-top: 220px;
  padding-bottom: 220px;
}

.dialog__footer {
  background-color: #ddd;
  text-align: center;
  height: 110px;
  white-space: normal;
}

@media (max-width: 360px) {
  .dialog {
    max-width: 317px;
  }
}
